@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

p {
    margin-bottom: 16px;
    font-size: 18px;
}

h3 {
    margin-bottom: 16px;
}

ol {
    list-style: auto;
}

li {
    margin-bottom: 16px;
    font-size: 18px;
}